:root {
  --bg: #000000;
  --card: #0c0c0c;
  --text: #e8edf3;
  --muted: #98a4b3;
  --accent: #ed0000;
  color-scheme: dark;
}
@font-face {
  font-family: "Grenze Gotisch";
  src: url("fonts/GrenzeGotisch-VariableFont_wght.ttf");
  font-weight: 100 900;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Grenze Gotisch", system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}
header {
  background: var(--card);
  border-bottom: 1px solid rgba(232, 0, 0, 0.806);
  position: sticky;
  top: 0;
}
nav {
  max-width: 1100px;
  margin: auto;
  padding: 0.8rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
nav .brand {
  font-weight: 700;
  margin-right: auto;
  font-size: 1.4rem;
}
nav a {
  color: var(--text);
  text-decoration: none;
}
nav a.active,
nav a:hover {
  color: var(--accent);
}
main {
  max-width: 960px;
  margin: auto;
  padding: 1rem 1rem;
}
.hero {
  text-align: center;
  padding: 1.5rem 1rem;
}
.hero h1 {
  font-size: 4rem;
  margin: 1rem;
}
.hero p {
  color: var(--muted);
}
.btn {
  display: inline-block;
  background: var(--accent);
  color: #390000;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  margin: 0.3rem;
}
.btn:hover{
  background: #8f0000
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}
.card {
  background: var(--card);
  border: 1px solid rgba(232, 0, 0, 0.806);
  border-radius: 12px;
  padding: 1rem;
}
.card h3 {
  margin-top: 0;
}
.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid rgba(232, 0, 0, 0.806);
  background: #8883;
  display: grid;
  place-items: center;
  color: var(--muted);
  margin: auto;
}
footer {
  text-align: center;
  color: var(--muted);
  padding: 2rem 1rem;
}
